<h1 ng-if="enModel.options.title">{{enModel.options.title}}</h1>
<div class="enGrips" >
	<div class="enGrip" ng-repeat="resizer in enModel.data | limitTo: enModel.data.length -1">
		<div class="enResizer"></div>
	</div>
</div>
<table ng-class="theme.name" class="enTable" ng-style="enModel.style.table">
	<thead>
		<tr ng-style="enModel.title">
			<th ng-repeat="label in enModel.labels" ng-style="enModel.style.th">{{label}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in enModel.data" ng-style="enModel.style.tr">
			<td ng-repeat="(key, value) in row" ng-style="enModel.style.td">{{value}}</td>
		</tr>
	</tbody>
	<tfoot>
		<ng-summary></ng-summary>
		<ng-pagination></ng-pagination>
	</tfoot>
</table>