<h1 ng-if="enModel.options.title" class="en-title">{{enModel.options.title}}</h1>
<div class="enGrips" ng-if="resize">
    <div class="enGrip" ng-repeat="resizer in enModel.columns | limitTo: enModel.columns.length -1 track by $index" ng-style="_defaultColPosition($index)" ng-mousedown="startDrag($event,$index)">
    </div>
</div>
<table ng-class="theme.name" class="enTable" ng-style="enModel.style.table">
    <thead>
        <tr ng-style="enModel.title">
            <th ng-if="enModel.options.multiSelectable">
                <input type="checkbox" ng-click="selectAll($event)" ng-model="allSelected" />
            </th>
            <th scope="col" ng-repeat="column in enModel.columns track by $index" ng-style="enModel.style.th" ng-click="sort(column,$event)">
                <span>{{column.label}}</span>
                <span ng-if="column.name == orderCol" class="sortingIcon" ng-class="{'inverse':sortingCol}"><i class="fa fa-arrow-down"></i></span>
            </th>
            <th ng-if="actions"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in enModel.data | orderBy : orderCol : sortingCol" ng-style="enModel.style.tr" class="en-row">
            <td ng-if="enModel.options.multiSelectable">
                <input type="checkbox" ng-model="row.selected" />
            </td>
            <td ng-repeat="column in enModel.columns" ng-style="enModel.style.td" title="{{row[column.name]}}">

                <span ng-if="column.type=='string' || column.type=='number'">{{row[column.name]}}</span>

                <div class="barChart" ng-if="column.type=='barchart'">
                    <div class="progressTrack">
                        <div class="progressFill" ng-style="{'width':getBarChartFill(row[column.name],column.maxValue)}">
                            <span>{{row[column.name]}}</span>
                        </div>
                    </div>
                </div>
            </td>
            <td ng-if="actions">
                <button ng-repeat="action in actions" ng-click="action.function(row,$event);" title="{{action.label}}">
					<i ng-class="action.icon"></i>
				</button>
            </td>
        </tr>
    </tbody>
    <tfoot>

    </tfoot>

</table>
<ng-summary></ng-summary>
<entable-pagination></entable-pagination>